*, body{
    scroll-behavior: smooth;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-color: #eaeaea;
}

.page{
    position: relative;
    width: auto;
    background-color: #fff;
    margin: 30px 30px;
    box-shadow: 0 2px 6px rgba( 0, 0, 0, 0.3);
}

header{
    position: relative;
    display: block;
}

.header-text{
    display: inline-block;
    width: 100%;
}

.header-left-section{
    float: left;
    margin: 30px;
}

.header-right-section{
    float: right;
    margin: 30px;
}

.header-right-section .col-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.col-wrap a img {
    width: 30px;
} 
.header-right-section form{
    display: flex;
    margin: 8px 0 0 0;
}
.header-right-section form button{
    padding: 10px;
    width: auto;
    aspect-ratio: 1/1;
    font-size: 0.95rem;
    border: 1px solid rgb(200, 200, 200);
    cursor: pointer;
    color: #fff;
    background-color: #1e73be;
    border-radius: 0 3px 3px 0;
}
.header-right-section form input[type="text"]{
    padding: 10px 14px;
    font-size: 0.95rem;
    border-radius: 3px 0 0 3px;
    width: 135px;
    border: 1px solid rgb(200, 200, 200);
}

nav{
    display: block;
}
.menu-primary ul{
    list-style-type: none;
    display: flex;
    gap: 14px;
}
.menu-primary ul li a, svg.dropdown-icon {
    color: #000;
    text-decoration: none;
    fill: #000;
}
.menu-primary ul li a {
    display: flex;
    align-content: center;
    cursor: pointer;
}
.menu-primary ul li .dropdown-menu{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0 2px 12px rgba( 0, 0, 0, 0.3);
    padding: 12px;
}
.menu-primary ul li:hover .dropdown-menu {
    display: flex;
}