*,
body {
    scroll-behavior: smooth;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
    background-color: #eaeaea;
}

.page {
    position: relative;
    width: auto;
    background-color: #fff;
    margin: 30px 30px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}


/* GLOBAL */
.warning-info{
    font-size: 0.9rem;
    color: rgb(255, 24, 24); /* red */
}




/* ===== HEADER ===== */
header {
    position: relative;
    display: block;
}

.header-text {
    display: inline-block;
    width: 100%;
}

.header-left-section {
    float: left;
    margin: 30px;
}
.header-left-section a img{
    width: 350px;
}

.header-right-section {
    float: right;
    margin: 30px;
}

.header-right-section .col-wrap {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}

.col-wrap a img {
    width: 30px;
}

.header-right-section form {
    display: flex;
    margin: 8px 0 0 0;
}

.header-right-section form button {
    padding: 10px;
    width: auto;
    aspect-ratio: 1/1;
    font-size: 0.95rem;
    border: 1px solid rgb(200, 200, 200);
    cursor: pointer;
    color: #fff;
    background-color: #1e73be;
    border-radius: 0 3px 3px 0;
}

.header-right-section form input[type="text"] {
    padding: 10px 14px;
    font-size: 0.95rem;
    border-radius: 3px 0 0 3px;
    width: 135px;
    border: 1px solid rgb(200, 200, 200);
}
/* ===== END OF HEADER ===== */


/* ===== NAVBAR ===== */
nav {
    display: block;
}

.menu-primary ul {
    list-style-type: none;
    display: flex;
    gap: 26px;
    flex-wrap: wrap;
}

.menu-primary-btn{
    display: none;
}

.menu-primary ul li a,
svg.dropdown-icon {
    color: #000;
    text-decoration: none;
    fill: #000;
}

.menu-primary ul li a {
    display: flex;
    align-content: center;
    cursor: pointer;
}

.menu-primary ul li .dropdown-menu {
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #fff;
    justify-content: center;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.3);
    z-index: 2;
    padding: 0;
    gap: 0;
}

.dropdown-menu a{
    margin: 0;
    padding: 8px 12px;
}

.dropdown-menu a:hover{
    background-color: #e2e2e2;
}

.menu-primary ul li:hover .dropdown-menu {
    display: flex;
}

/* ===== END OF NAVBAR ===== */



/* ===== CONTENT ===== */
article{
    margin: 12px 30px;
    display: flex;
    gap: 12px;
}

.primary{
    width: 75%;
}
.secondary{
    width: 25%;
}

.secondary .widget aside ul{
    margin: 0;
    list-style-type: none;
    padding: 12px;
}
.secondary .widget aside h3{
    margin-bottom: 0;
}
.secondary .widget aside ul li{
    margin: 12px 0;
}
.secondary .widget aside ul li a{
    color: blue;
    text-decoration: none;
}

/* ===== END OF CONTENT ===== */







/* ===== FOOTER ===== */

.footer-widget{
    background-color: #333333;
    display: flex;
    padding: 30px; 
    gap: 24px; 
}

.column-widget{
    color: #fff;
}
.column-widget p{
    margin: 0;
}

.footer-widget-socket{
    /* margin: 30px; */
    padding: 12px 30px;
}
/* ===== END OF FOOTER ===== */


@media screen and (max-width: 700px) {
    .menu-primary ul{
        display: none;
    }
    .menu-primary-btn{
        display: block;
    }
  }