*, body{
    scroll-behavior: smooth;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
}
body{
    margin: 0;
    background-color: #eaeaea;
}

.page{
    position: relative;
    width: auto;
}

header{
    position: relative;
    display: block;
}

.header-text{
    display: inline-block;
}

.header-left-section{
    float: left;
}

.header-right-section{
    float: right;
}

.header-right-section .col-wrap{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
.col-wrap a img {
    width: 20px;
}